body { 
    width: 100%;
    text-align: center;
    margin-top: 20px;
    background: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: 60vw 100vh;
    overflow: hidden;
    background-position-x: 555px;
      }
      .chat_container {  
        background:rgba(245, 245, 240, 0.62);
        width: 600px;
        height: 500px;
        margin-left: 100px !important;
        bottom: 50px !important;
        position: absolute;
        bottom: 0;
        left: 0;
        overflow-y: auto;

      }
      .intent{
        height: 35px;
        font-size: 15px;
        width: 450px;
        border-radius: 30px;
        border: 1px solid #888585;
        padding-left: 13px;

      }
      .text_area{
          position: absolute;
          left: 50px;
          bottom: 20px;
          overflow-y: scroll;
      }
      .sendbutton{
          margin-left: -4px;
          width: 50px;
          height: 50px;
          margin-bottom: -17px;
          background: transparent;
          border: none;
      }
      .intent_message{
        margin-left: 200px;
        font-size: 15px;
        width: 250px;
        border-radius: 10px;
        background: #8e8787;
        color: white;
        padding-bottom: 5px;
        padding-top: 5px;
        margin-top: 5px;
      }
      .bebot_message{
          margin-left: 18px;
          font-size: 15px;
          width: 250px;
          border-radius: 10px;
          background: #5f001d;
          color: white;
          padding-bottom: 5px;
          padding-top: 5px;
          margin-top: 5px;
      }
      .bebot_icon{
        height: 15px;
        width: 15px;
        position: absolute;
        left: 0px;
      }

      .bebot_Logo{   
          position: absolute;
          width: 200px;
          left: 0px;
          margin-left: 110px;
          z-index: 100; 
      } 

      /* busy loader*/
      .typing {
        margin-top: 15px;
      }

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 0.5em;
  height: 0.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: black;
  font-size: 8px;
  margin: 5px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
